/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
      margin: 2px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: rgb(0, 112, 189); /* Change the color to blue */
      border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Optional: set track color */
      border-radius: 10px;
    }
  }